html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }
:root {
    --white: #FFFFFF; 
    --black: #000000;
}
body{
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

h1{
    color: var(--white);
    font-family: 'Tahoma';
    font-weight: 400;
}