html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }
:root {
    --barva_textu: #ffffff; 
    --pozadi: url("images/texture_4.jpg");
    --header1:"baron";
    --header2: "veteran";
    line-height: 1;
}

@font-face {
    font-family: "veteran";
    src: url(fonts/veteran.ttf);
}

@font-face {
    font-family: "baron"; 
    src: url(fonts/Baron.otf);
}

body{
    background-image: var(--pozadi);
    background-size: cover;
    background-color: black;
    margin: 0px;
}

h1, h2, p{ 
    color: var(--barva_textu);
    letter-spacing: 3px;
}

h1{
    font-family: var(--header1);
    font-size: 35px;
}

h2 {
    font-family: var(--header1);
    font-size: 27px;
    margin: calc(10vh/8) calc(10vh/8) calc(10vh/8) calc(10vh/8);
}

p{
    margin: calc(10vh/8) calc(10vh/8) calc(10vh/8) calc(10vh/8);
}

p, a{
    font-size: 18px;
    font-family: var(--header2);
}

.program{
    margin: 10px;
}


.nadpis h1{
    margin:0px;
}

.text{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.tlacitka{
    display:grid;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}

.tlacitko{
    border: 1px #626161 solid;
    border-radius: 5px;
    box-shadow: 5px 4px #626161;
    font-family: var(--header2);
    text-decoration: none;
    color: var(--barva_textu);
    padding: 10px;
}

.tlacitko:hover{
    box-shadow: 2px 1px #626161;
    color:#666;
}
.tlacitko:active{
    box-shadow: 2px 1px #666;
    transform: translateY(4px);
}

.galerie{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0px;
    justify-content: center;
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #626161af;

}

.zak:hover .overlay, .zak:active .overlay{
    opacity: 1;
}

.zak{
    width: calc(100vw/3);
    position: relative;
}

.image{
    width: 100%;
    display: block;
    height: auto;
}


@media screen and (min-width: 1400px){

    h1, h2, p, a{
        letter-spacing: 5px;
    }

    h1{
        font-size: 100px;
        margin:20px;
    }

    h2{
        font-family: var(--header1);
        font-size: 50px;
        margin: 15px;
    }

    p, a{
        font-size: 40px;
        margin: 15px;
    }

    .text{
        max-height: 100vh;
    }

    .tlacitka{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .galerie{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        row-gap: 5px;

    }

    .image, .overlay, .zak{
        width: 18vw;

    }
    
    #text{
        font-size: 20px;
    }


}